@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: rgb(32, 32, 96);
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(197, 197, 139);
}

.card {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 40px;
  background-color: antiquewhite;
  color: black;
  border-radius: 10px;
}
.num-display {
  margin-right: 5rem;
  background-color: rgb(234, 25, 42);
  border-radius: 20px;
  padding: 3px;
  color: aliceblue;
}
